# --- DOMAIN ---
DOMAIN_NAME=

# --- MARIADB & WORDPRESS CONNECTION ---
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_ROOT_PASSWORD=
SQL_HOST=

# --- WORDPRESS CONFIG ---
WP_TITLE=
WP_PATH=

# --- WORDPRESS ADMIN (First User) ---
WP_ADMIN_USER=
WP_ADMIN_PASS=
WP_ADMIN_EMAIL=

# --- WORDPRESS USER (Second User) ---
WP_USER=
WP_USER_PASS=
WP_USER_EMAIL=

# --- NGINX ---
CERTS_CRT=
CERTS_KEY=

# --- FTP SERVER ---
FTP_USER=
FTP_PASS=